@page "/orders"
@attribute [Authorize(Roles = "Administrator")]
@using BlazorProducts.Client.Component
@using BlazorProducts.Client.Component.ProductTable
@using Microsoft.AspNetCore.Authorization

<div class="row">
    <div class="col-md-2">
        <a href="/createOrder">Create Order</a>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Products</th>
                <th>Order Date</th>
                <th>Total</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var order in OrderList)
            {
                <tr data-toggle="collapse" data-target="#orderDetails-@order.Id" aria-expanded="false" aria-controls="orderDetails-@order.Id">
                    <td>@order.Id</td>
                    <td>@order.CustomerName</td>
                    <td>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <!-- Add more table headers as needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var orderProduct in order.OrderProducts)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@orderProduct.Product.ImageUrl" alt="product image" style="width:100px;" />
                                            </td>
                                            <td>@orderProduct.Product.Name</td>
                                            <td>@orderProduct.Quantity</td>
                                            <!-- Add more table cells for additional product details -->
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                    </td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.OrderTotal</td>
                    <!-- Add more table cells for additional order details -->
                </tr>
            }
        </tbody>
    </table>
</div>
